@page
@model RollCalls.Pages.IncorrectPasswordModel


@{
    ViewData["Title"] = "Incorrect Passphrase";
}

<h1 style="color: brown; text-align: center;">Incorrect Passphrase</h1>
<p style="text-align: center;">The passphrase you entered is incorrect. <a href="~/Index" style="color: black;">Click here</a> to return to the login page</p>