@page
@model IndexModel
@{
    ViewData["Title"] = "Login page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Roll Call Editor!</h1>
</div>

<div style="margin: auto">
    <form method="post">
        <select id="dropdownList" name="dropdownList" onchange="togglePassphraseBox()">
            <option value="">Select a camp</option>
            @foreach (var item in IndexModel._camps)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>

        <div id="passphraseBox" style="display:none; margin-top: 7px; margin-bottom: 7px;">
            <input type="password" name="passphrase" />
        </div>

        <button type="submit">Log In</button>
    </form>
</div>

<script>
    function togglePassphraseBox() {
        var dropdown = document.getElementById("dropdownList");
        var passphraseBox = document.getElementById("passphraseBox");
        if (dropdown.value) {
            passphraseBox.style.display = "block";
        } else {
            passphraseBox.style.display = "none";
        }
    }

    document.getElementById("passphraseBox").getElementsByTagName("input")[0].addEventListener("keypress", function(event) {
        if (event.keyCode === 13) { // 13 is the keycode for Enter
            event.preventDefault(); // Prevent the default action to stop from any unexpected behavior
            document.forms[0].submit(); // Submit the first form in the document
        }
    });
</script>

