@page
@model RollCalls.Pages.SuccessModel


@{
    ViewData["Title"] = "Success";
}

<h1 style="color: rgb(105, 210, 0); text-align: center;">Success</h1>
<p style="text-align: center;">Successfully submitted roll call information. <a href="~/Index" style="color: black">Return to the login</a> anytime to edit your information</p>
